:root{
	/* COLORS*/
	--Primary: #0ea5e9;
	--Secondary: #f97316;
	--white: #FFFFFF;

	--bright-500: #6b7280;
	--bright-400: #9ca3af;
	--bright-300: #d1d5db;
	--bright-200: #e5e7eb;
	--bright-100: #f3f4f6;

	--dark-500: #030712;
	--dark-400: #111827;
	--dark-300: #1f2937;
	--dark-200: #374151;
	--dark-100: #4b5563;
	
	/*TYPE*/
	--h1: 40px;
	--h2: 32px;
	--h3: 24px;
	--sh: 12px;
	--p: 8px;
	--st: 6px;

	/*SPACING*/
	--spc1: 0.25rem;/*4*/
	--spc2: 0.5rem;/*8*/
	--spc3: 0.75rem;/*12*/
	--spc4: 1rem;/*16*/
	--spc5: 1.25rem;/*20*/
	--spc6: 1.75rem;/*28*/
	--spc7: 2.5rem;/*40*/
	--spc8: 3.75rem;/*60*/
	--spc9: 6.25rem;/*100*/
	--spc10: 10rem;/*160*/
	--spc11: 15rem;/*240*/

}

* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

body {
	background-color: var(--dark-500);
	color: var(--bright-100);
	-webkit-font-smoothing: antialiased;
} 

body, input, textarea, button {
	font: 400 1rem Inter, sans-serif;
}
