body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.LoginContainer{
	display: grid;
	grid-template-columns: 28.125rem;
	row-gap: var(--spc7)
}

.LogoContainer{
	font-size: 60px;
	display: flex;

	justify-content: center;

	strong{
		color: var(--Primary);
		font-size: 60px;
		text: 60px
	}
	
	span{
		color: var(--bright-100);
		font-weight: 200;
	}

}

.AuthContainer{
	background-color: var(--dark-200);
	display: flex;
	flex-direction: column;
	padding: var(--spc8);
	border-radius: 8px;
}

.AuthContent {
	form{
		display: grid;
		grid-template-columns: 1fr;
	}
	
	span {
		font-size: 28px;
		margin-bottom: var(--spc7)
	};

	input {
		background-color: var(--bright-300);
		height: var(--spc7);

		border: 1px solid var(--bright-500);
		border-radius: 3px;

		margin-bottom: var(--spc3);
		padding: var(--spc3)	
	}

	input[type="submit"] {
		height: var(--spc7);
		margin-top: var(--spc4);
		background-color: var(--Primary);
		color: (var(--bright-500));
		border: none;
		border-radius: 8px;
	}

}
