:root{
	/*COLORS */
	Primary: #0A66FF;
	Secondary: #F6581F;

	--bright-500: #777D82;
	--bright-400: #94999C;
	--bright-300: #A8ABAE;
	--bright-200: #B9BBBD;
	--bright-100: #D9D9D9;

	--dark-500: #1F2021;
	--dark-400: #242628;
	--dark-300: #2F3439;
	--dark-200: #343A40;
	--dark-100: #3F4852;

	/*TYPE*/
	--h1: 40;
	--h2: 32;
	--h3: 24;
	--sh: 12;
	--p: 8;
	--st: 6;
	
	/*SPACING*/
	--spc1: 0.25rem;/*4*/
	--spc2: 0.5rem;/*8*/
	--spc3: 0.75rem;/*12*/
	--spc4: 1rem;/*16*/
	--spc5: 1.25rem;/*20*/
	--spc6: 1.75rem;/*28*/
	--spc7: 2.5rem;/*40*/
	--spc8: 3.75rem;/*60*/
	--spc9: 6.25rem;/*100*/
	--spc10: 10rem;/*160*/
	--spc11: 15rem;/*240*/
}

html, body {
	padding: 0;
	margin: 0
}

body {
	display: flex;
	background-color: var(--dark-400);
	align-items: center;
	justify-content: center
}

.LoginContainer{}

.LogoContianer{
	font-size: 60px;

	strong{
		color: var(--Primary);
		font-size: 60px;
		text: 60px
	}
	
	span{
		color: var(--bright-100);
	}

}

.AuthContainer{
	background-color: var(--dark-200);
	display: flex;
	flex-direction: column;
	padding: var(--spc9);
	border-radius: 8px;
}

.AuthContent {
	display: grid;
	grid-template-columns: 15rem;
	row-gap: var(--spc7) var(--spc2) var(--spc3);

	span {
		font-size: 28px
	}

}
